.sidebarChannel:hover > h4{
    color:black;
    background-color:white;
}
.sidebarChannel > h4{
    display :flex;
    padding-left:15px;
    align-items:center;
    background-color:white;
    color:#e65d0e;
    cursor: pointer;
}
.sidebarChannel_hash{
    font-size:30px;
    padding:8px;
}